/*------------------*
# Sass Font Maps & Mixin
*------------------*/

// Sass Maps
$h1-font-sizes: (
  null  : 20px,
  768px : 22px,
  960px: 26px
);

$h2-font-sizes: (
  null  : 18px,
  768px : 20px,
  960px: 24px
);

$h3-font-sizes: (
  null  : 16px,
  768px : 18px,
  960px: 22px
);

$h4-font-sizes: (
  null  : 14px,
  768px : 16px,
  960px: 20px
);

$h5-font-sizes: (
  null  : 12px,
  768px : 14px,
  960px: 18px
);

$h6-font-sizes: (
  null  : 10px,
  768px : 12px,
  960px: 16px
);

$p-font-sizes: (
  null  : 12px,
  768px : 14px,
  960px: 16px
);

@mixin font-size($fs-map) {
    @each $fs-breakpoint, $fs-font-size in $fs-map {
        @if $fs-breakpoint == null {
            font-size: $fs-font-size;
        }
        @else {
            @media screen and (min-width: $fs-breakpoint) {
                font-size: $fs-font-size;
            }
        }
    }
}