@import 'variables';
@import 'fonts-responsive';
@import 'fonts-base';
@import 'fonts-typography';

@import 'layout-header';
@import 'layout-content';
@import 'layout-footer';

html,
body {
	width: 100vw;
	height: 100vh;
	margin: 0px !important;
}

body {
	overflow-x: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
